@charset "UTF-8";

.container {
	display: block;
	margin: 60px;
}

h2 {
	text-align: center;
	color: blue;
}

.result {
	background-color: grey;
	visibility: hidden;
}

.name {
	margin: 15px;
	padding-left: 50px;
	font-size : 35px;
}

.evaluate {
	margin: 30px;
	display:block;
	text-align : center;
}

.num {
	font-size: 29px;
	color: darkblue; display : table-cell;
	margin-right: 200px;
	display: table-cell;
}
#result{
	margin: 30px;
	text-align : center;
	font-size : 40px;
}

.section {
	margin: 50px;
	font-size:30px;
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 100px;
	padding-right: 100px;
	background-color: aquamarine;
	position: relative;
}

input button {
	height: 60px;
	padding: 5px;
	background-color: #008080;
	border-radius: 3px;
	border: 1px solid #c4c4c4;
	font-size: 2rem;
	color: #333;
}